<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index con EJS</title>
</head>
<body>
    <h1>¡Hola, soy <%= name %>! &nbsp;&nbsp;:)</h1>
    <h2>Este es mi CRUD con MongoDB y Node.js</h2>
    <br>
    <br>
    <br>
    <h2><a href="/entes">Ver entes</a></h2>
</body>
</html>